body {
	--wp--preset--color--black: #000000;
	--wp--preset--color--cyan-bluish-gray: #abb8c3;
	--wp--preset--color--white: #ffffff;
	--wp--preset--color--pale-pink: #f78da7;
	--wp--preset--color--vivid-red: #cf2e2e;
	--wp--preset--color--luminous-vivid-orange: #ff6900;
	--wp--preset--color--luminous-vivid-amber: #fcb900;
	--wp--preset--color--light-green-cyan: #7bdcb5;
	--wp--preset--color--vivid-green-cyan: #00d084;
	--wp--preset--color--pale-cyan-blue: #8ed1fc;
	--wp--preset--color--vivid-cyan-blue: #0693e3;
	--wp--preset--color--vivid-purple: #9b51e0;
	--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
	--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
	--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
	--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
	--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
	--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
	--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
	--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
	--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
	--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
	--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
	--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
	--wp--preset--font-size--small: 13px;
	--wp--preset--font-size--medium: 20px;
	--wp--preset--font-size--large: 36px;
	--wp--preset--font-size--x-large: 42px;
	--wp--preset--spacing--20: 0.44rem;
	--wp--preset--spacing--30: 0.67rem;
	--wp--preset--spacing--40: 1rem;
	--wp--preset--spacing--50: 1.5rem;
	--wp--preset--spacing--60: 2.25rem;
	--wp--preset--spacing--70: 3.38rem;
	--wp--preset--spacing--80: 5.06rem;
	--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
	--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
	--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
	--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
	--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}


:root {
	--swiper-theme-color: #007aff
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
	flex-direction: column
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
	flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
	flex-wrap: wrap;
	flex-direction: column
}

.swiper-container-free-mode>.swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform
}

:root {
	--swiper-navigation-size: 44px
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: var(--swiper-pagination-color, var(--swiper-theme-color))
}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-cube {
	overflow: visible
}

.swiper-container-cube .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
	visibility: hidden;
	transform-origin: 0 0;
	width: 100%;
	height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	z-index: 0
}

.swiper-container-flip {
	overflow: visible
}

.swiper-container-flip .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background: 0 0
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

*,
::after,
::before {
	box-sizing: border-box
}

ol,
ul {
	padding: 0
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
	margin: 0
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5
}

ol[class],
ul[class] {
	list-style: none
}

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto
}

img {
	max-width: 100%;
	display: block
}

article>*+* {
	margin-top: 1em
}

button,
input,
select,
textarea {
	font: inherit
}

@media (prefers-reduced-motion:reduce) {
	* {
		-webkit-animation-duration: 0s !important;
		animation-duration: 0s !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0s !important;
		scroll-behavior: auto !important
	}
}


.container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 10px;
	width: 100%
}

.layout {
	position: relative;
	margin: 0 -20px
}

.layout__main {
	padding: 20px
}

.layout__aside {
	padding: 20px
}

.layout__title {
	text-align: center;
	width: 100%;
	display: inline-flex;
	margin: 20px 0;
	font-size: 2.6rem;
	line-height: 1.2
}

.layout__title.center {
	justify-content: center
}

.main__content {
	padding-top: 80px !important
}

.main__name {
	font-weight: 800;
	line-height: 1;
	padding: 15px;
	font-size: 2.4rem;
	letter-spacing: 4px;
	text-transform: uppercase;
	-webkit-clip-path: polygon(0 0, 100% 11%, 98% 86%, 2% 101%);
	clip-path: polygon(0 0, 100% 11%, 98% 86%, 2% 101%);
	background: linear-gradient(0deg, #207379 0, #136a8a 99%)
}

.main__name-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: 50px auto
}

.main__name_dec-after {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 70px;
	height: 10px;
	fill: #ff0
}

.main__name_dec-before {
	position: absolute;
	z-index: 2;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 5px;
	transform: rotate(40deg);
	fill: #e9417d
}

.main__name_dec-dots-l {
	position: absolute;
	z-index: 2;
	fill: #ff0;
	width: 40px;
	left: -30px;
	top: 5px
}

.main__name_dec-dots-f {
	position: absolute;
	z-index: 2;
	fill: #ff0;
	width: 60px;
	right: -50px;
	top: 20px
}

.main__name_dec-circ-l {
	position: absolute;
	z-index: 2;
	fill: #e9417d;
	top: -20px;
	left: 30%;
	width: 15px
}

.main__name_dec-circ-f {
	position: absolute;
	z-index: 2;
	fill: #e9417d;
	width: 20px;
	top: -30px;
	right: 15%
}

.footer,
.header {
	flex-shrink: 0
}

main {
	flex-grow: 1
}

.list {
	list-style: none;
	list-style: none;
	display: flex;
	flex-wrap: wrap
}

@media (min-width:768px) {
	.container {
		padding: 0 30px
	}

	.layout {
		margin: 0 -30px
	}

	.layout__main {
		padding-left: 30px;
		padding-right: 30px
	}

	.layout__title {
		margin: 30px 0;
		font-size: 3.8rem
	}
}

@media (min-width:992px) {
	.layout {
		display: flex;
		align-items: flex-start
	}

	.layout__main {
		padding-bottom: 60px;
		flex-grow: 1
	}
}

*,
:after,
:before {
	box-sizing: border-box
}

:focus {
	outline: 0 !important
}

html {
	font-size: 10px;
	max-width: 100vw;
	overflow-x: hidden
}

body {
	font: 1.4rem/1.5 'Open Sans', Arial, Helvetica, sans-serif;
	background: #222;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	max-width: 100%
}

body.body_overflow {
	overflow: hidden;
	height: 100vh;
	width: 100vw
}

body .mt_hidden {
	display: none
}

body .hidden {
	height: 0 !important;
	display: block;
	background: 0 0;
	color: transparent
}

iframe,
img,
video {
	max-width: 100%;
	height: auto
}

.img_absolute {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.section {
	padding: 10px 0
}

.lazyload,
.lazyloading {
	opacity: 0
}

.lazyloaded {
	opacity: 1;
	transition: opacity .3s
}

@media (min-width:768px) {
	body .mt_hidden {
		display: flex
	}

	body .t_hidden {
		display: none
	}

	.section {
		padding: 15px 0
	}
}

.h1,
h1 {
	font-size: 2.92308rem
}

.h2,
h2 {
	font-size: 2.30769rem
}

.h3,
h3 {
	font-size: 2rem
}

.h4,
h4 {
	font-size: 1.69231rem
}

.h5,
h5 {
	font-size: 1rem
}

.h6,
h6 {
	font-size: .8rem
}

ul {
	margin: 0
}

table {
	width: 100%;
	margin-bottom: 15px
}

th {
	font-weight: 700;
	text-align: left
}

thead tr th {
	border-bottom: 1px dashed #e9417d
}

tr:nth-child(2n) {
	background: rgba(233, 65, 125, .03)
}

tr:last-child td {
	border-bottom: 1px dashed #e9417d
}

tbody td {
	padding: 15px 7px
}

.content {
	padding: 20px 0;
	color: #e8ebed
}

.content img {
	margin: 0 auto
}

.content__title h1 {
	margin-bottom: 0 !important
}

.content a {
	text-decoration: none;
	color: #e9417d
}

.content a:hover {
	text-decoration: underline
}

.content picture {
	display: block;
	margin: 0 auto 10px
}

.content picture[class] {
	margin-bottom: 0
}

.content a[class] {
	color: #fff
}

.content a[class]:hover {
	text-decoration: none
}

.content .button_pure,
.content .button_yellow {
	margin: 0 auto 10px;
	padding: 15px 35px;
	-webkit-clip-path: polygon(95% 100%, 6% 94%, 1% 18%, 99% 17%);
	clip-path: polygon(95% 100%, 6% 94%, 1% 18%, 99% 17%)
}

.content .button_pure:hover,
.content .button_yellow:hover {
	transform: scale(1.1)
}

.content .button_yellow {
	color: #e9417d !important
}

.content ol,
.content ul {
	padding-left: 30px
}

.content ol[class],
.content ul[class] {
	margin: 0;
	padding: 0
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content li,
.content ol,
.content p,
.content ul {
	margin: 0;
	margin-bottom: 15px
}

.content .h1,
.content .h2,
.content .h3,
.content .h4,
.content .h5,
.content .h6,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	text-shadow: 2px 2px 0 #e9417d;
	font-style: italic
}

@media (min-width:768px) {

	.h1,
	h1 {
		font-size: 3.8rem
	}

	.h2,
	h2 {
		font-size: 3rem
	}

	.h3,
	h3 {
		font-size: 2.6rem
	}

	.h4,
	h4 {
		font-size: 2.2rem
	}

	.h5,
	h5 {
		font-size: 2rem
	}

	.h6,
	h6 {
		font-size: 1.6rem
	}
}

.button,
a,
button,
input {
	color: #fff;
	background: 0 0;
	padding: 0;
	text-decoration: none;
	font-weight: 600;
	margin: 0;
	border: none;
	outline: 0;
	cursor: pointer;
	transition: color .3s, background .3s, border-color .3s, fill .3s, opacity .3s
}

.button_gray,
.button_pure,
.button_yellow {
	padding: 10px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	position: relative;
	z-index: 1;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	transition: .3s;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content
}

.button_center {
	margin: 10px auto
}

.button-line {
	text-transform: uppercase
}

.button-line_pure {
	color: #e9417d;
	border-bottom: 1px dashed #e9417d
}

.button-line_pure:hover {
	color: #ff0;
	border-color: #ff0
}

.button_pure {
	background: #e9417d;
	color: #fff
}

.button_pure:hover {
	color: #ff0
}

.button_yellow {
	background: #ff0;
	color: #e9417d
}

.button_anim:hover {
	transform: scale(1.1);
	z-index: 2
}

.button_first {
	padding: 15px;
	-webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 9% 96%);
	clip-path: polygon(0 25%, 100% 0, 100% 100%, 9% 96%)
}

.button_last {
	padding: 15px;
	-webkit-clip-path: polygon(0 13%, 100% 0, 96% 75%, 0 95%);
	clip-path: polygon(0 13%, 100% 0, 96% 75%, 0 95%)
}

.button__menu {
	display: block;
	position: relative;
	min-width: 50px;
	width: 50px;
	height: 50px
}

.button__menu-line {
	width: 25px;
	height: 2px;
	background: #fff;
	display: block;
	position: absolute;
	transition: .3s;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)
}

.button__menu-line:after,
.button__menu-line:before {
	width: 25px;
	height: 2px;
	background: #fff;
	transition: .3s;
	display: block;
	position: absolute;
	content: ''
}

.button__menu-line:after {
	top: -9px
}

.button__menu-line:before {
	top: 9px
}

.button__menu_active .button__menu-line {
	background: 0 0
}

.button__menu_active .button__menu-line:after,
.button__menu_active .button__menu-line:before {
	top: 0;
	background: #e9417d
}

.button__menu_active .button__menu-line:after {
	transform: rotate(45deg)
}

.button__menu_active .button__menu-line:before {
	transform: rotate(-45deg)
}

@media (min-width:768px) {
	.button_md {
		padding: 20px 45px
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: .3s;
	background: linear-gradient(180deg, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, .5) 10%, rgba(0, 0, 0, .4) 20%, rgba(0, 0, 0, .3) 30%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .1) 50%, rgba(255, 0, 0, 0) 100%);
	z-index: 11
}

.header_fixed {
	background: #1e727c
}

.header_fixed .header__container {
	height: 50px
}

.header_fixed .logo {
	margin-bottom: 0
}

.header_fixed .logo {
	display: flex;
	align-items: center;
	width: 70px
}

.header_fixed .logo img {
	height: 80%
}

.header_fixed .logo__svg {
	display: none
}

.header_active {
	background: #222;
	height: 80px
}

.header__container {
	display: flex;
	position: relative;
	height: 80px;
	align-items: center;
	transition: .3s
}

.header__fixed {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .5)
}

.navigation {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	flex: 1 0;
	height: 100%
}

.navigation__container {
	display: block;
	position: absolute;
	top: 75px;
	left: 0;
	opacity: 0;
	width: 100%;
	background: #222;
	height: 0 !important;
	transition: .3s
}

.navigation__container_visible {
	top: 80px;
	opacity: 1;
	height: calc(100vh - 80px) !important
}

.navigation__list {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	flex: 1 0 100%;
	padding: 20px 10px;
	top: -50px
}

.navigation__item {
	position: relative;
	display: flex;
	flex: 1 0 100%
}

.navigation__item:hover>.sub-menu {
	display: block
}

.navigation__item .sub-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	border-radius: 5px;
	border: 1px solid #ff0;
	background: rgba(0, 0, 0, .5)
}

.navigation__item .sub-menu li {
	padding: 0 10px
}

.navigation__item .sub-menu .sub-menu {
	left: 100%;
	top: 0;
	min-width: 200px
}

.navigation__link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	transition: .3s
}

.navigation__link-svg {
	width: 20px;
	height: 20px;
	fill: #fff;
	margin-right: 10px
}

.navigation__link:hover {
	color: #ff0;
	transform: scale(1.05)
}

.navigation__link:hover .navigation__link-svg {
	fill: #ff0
}

.navigation__links {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: flex-end;
	top: 10px;
	right: 60px
}

.navigation__links .button_first {
	margin-right: 15px
}

.navigation__links .button_last {
	margin-top: -15px
}

.logo {
	width: 50px;
	display: flex;
	margin-bottom: -10px;
	justify-content: center;
	align-items: center
}

.logo__svg {
	display: block;
	width: 100%
}

.logo__active {
	display: none
}

@media (max-width:768px) {
	.header__container {
		padding: 0 10px
	}

	.navigation__item {
		flex-direction: column;
		align-items: flex-start
	}

	.sub-menu {
		display: block !important;
		border: none !important;
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		padding-left: 10px;
		width: 100%;
		background: 0 0 !important
	}
}

@media (min-width:768px) {
	.logo {
		width: 60px;
		min-width: 60px;
		margin-bottom: -40px
	}

	.navigation {
		height: 100%;
		padding: 0
	}

	.navigation__container {
		height: 100%;
		background: 0 0;
		display: flex;
		align-items: center;
		position: relative;
		top: 0;
		height: 100% !important;
		opacity: 1
	}

	.navigation__list {
		padding: 0 20px;
		height: 100%;
		flex-direction: row
	}

	.navigation__item {
		flex: 1 0 100px
	}

	.navigation__link {
		font-size: 1.6rem
	}

	.navigation__link-svg {
		width: 30px;
		height: 30px
	}

	.navigation__links {
		position: relative;
		right: 0
	}
}

@media (min-width:992px) {
	.navigation__link {
		font-size: 1.8rem
	}
}

@media (min-width:1200px) {
	.navigation__list {
		padding: 0 20px 0 30px
	}

	.navigation__link {
		font-size: 2rem
	}

	.navigation__links {
		flex-direction: row;
		position: relative;
		top: 0;
		right: 0
	}

	.navigation__links .button_first {
		margin-right: 0;
		z-index: 2
	}

	.navigation__links .button_last {
		margin: 0 0 -20px -30px;
		padding-bottom: 25px
	}

	.navigation__links .button_last:active,
	.navigation__links .button_last:focus,
	.navigation__links .button_last:hover {
		z-index: 3
	}

	.logo {
		width: 90px;
		margin-bottom: -60px
	}
}

.breadcrumbs {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
	align-items: center;
	padding: 10px 15px 10px 0 !important
}

.breadcrumbs__item {
	display: flex;
	text-transform: uppercase;
	line-height: 1;
	align-items: center;
	margin: 5px 0;
	cursor: default;
	color: #e9417d
}

.breadcrumbs__item:after {
	content: '>';
	margin: 0 10px;
	color: #e9417d
}

.breadcrumbs__item:first-child .breadcrumbs__link {
	text-decoration: underline
}

.breadcrumbs__item:last-child .breadcrumbs__link {
	color: #ff0
}

.breadcrumbs__item:last-child::after {
	display: none
}

.breadcrumbs__link {
	display: flex;
	text-decoration: none;
	color: #e9417d
}

.breadcrumbs__link:hover {
	color: #ff0
}

.carusel {
	display: block;
	width: 100%;
	overflow: hidden
}

.carusel__container {
	display: flex;
	min-width: 100%;
	position: relative;
	height: 30vw;
	min-height: 270px;
	max-height: 420px
}

.carusel__list {
	position: relative;
	width: 100%;
	height: 100%
}

.carusel__unit {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	transition: .3s
}

.carusel__picture {
	position: relative;
	width: 100%;
	min-height: 100%;
	height: 100%;
	display: block
}

.carusel__indicator {
	display: flex;
	align-items: center;
	height: 30px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2
}

.carusel__dots {
	display: flex;
	align-items: center
}

.carusel__dot {
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: 0 0;
	border-radius: 50%;
	margin: 5px;
	background: 0 0;
	border: 1px solid #e8ebed;
	position: relative
}

.carusel__dot:after {
	content: '';
	width: 60%;
	height: 60%;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)
}

.carusel__container[data-position="1"] .carusel__unit[data-position="1"] {
	opacity: 1 !important
}

.carusel__container[data-position="1"] .carusel__dot[data-position="1"] {
	border-color: #ff0
}

.carusel__container[data-position="1"] .carusel__dot[data-position="1"]:after {
	background: #ff0
}

.carusel__container[data-position="2"] .carusel__unit[data-position="2"] {
	opacity: 1 !important
}

.carusel__container[data-position="2"] .carusel__dot[data-position="2"] {
	border-color: #ff0
}

.carusel__container[data-position="2"] .carusel__dot[data-position="2"]:after {
	background: #ff0
}

.carusel__container[data-position="3"] .carusel__unit[data-position="3"] {
	opacity: 1 !important
}

.carusel__container[data-position="3"] .carusel__dot[data-position="3"] {
	border-color: #ff0
}

.carusel__container[data-position="3"] .carusel__dot[data-position="3"]:after {
	background: #ff0
}

.carusel__container[data-position="4"] .carusel__unit[data-position="4"] {
	opacity: 1 !important
}

.carusel__container[data-position="4"] .carusel__dot[data-position="4"] {
	border-color: #ff0
}

.carusel__container[data-position="4"] .carusel__dot[data-position="4"]:after {
	background: #ff0
}

.carusel__container[data-position="5"] .carusel__unit[data-position="5"] {
	opacity: 1 !important
}

.carusel__container[data-position="5"] .carusel__dot[data-position="5"] {
	border-color: #ff0
}

.carusel__container[data-position="5"] .carusel__dot[data-position="5"]:after {
	background: #ff0
}

.carusel__container[data-position="6"] .carusel__unit[data-position="6"] {
	opacity: 1 !important
}

.carusel__container[data-position="6"] .carusel__dot[data-position="6"] {
	border-color: #ff0
}

.carusel__container[data-position="6"] .carusel__dot[data-position="6"]:after {
	background: #ff0
}

@media (min-width:768px) {
	.carusel__picture {
		max-height: 260px
	}

	.carusel__content {
		align-items: flex-start;
		text-align: left;
		justify-content: space-around;
		padding: 10px 40px
	}

	.carusel__title {
		max-width: 300px
	}
}

.faq {
	display: flex;
	flex-direction: column
}

.faq a {
	color: #e9417d
}

.faq a:hover {
	text-decoration: underline
}

.faq__item {
	display: flex;
	flex-direction: column;
	padding: 10px 15px
}

.faq__item:nth-child(2n+1) {
	background: rgba(233, 65, 125, .05)
}

.faq__item[open] {
	padding-bottom: 0
}

.faq__title {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 5px;
	display: inline-flex;
	align-items: center
}

.faq__title::before {
	content: "+";
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	color: #e9417d;
	width: 10px;
	height: 10px;
	margin: 0;
	font-size: 2.2rem
}

.faq__title:hover {
	cursor: pointer
}

.faq__content {
	padding: 5px 20px;
	flex-direction: column
}

summary::-webkit-details-marker {
	color: transparent
}

details[open] summary::before {
	content: "-"
}

.categories {
	padding: 20px 0 !important
}

.categories__list {
	display: flex;
	justify-content: center;
	overflow-x: auto
}

.categories__item {
	display: flex;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content
}

.categories__link {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	flex: 1 0 100%;
	font-size: 1.6rem;
	transition: .3s
}

.categories__link:hover {
	color: #ff0
}

.categories__link:hover .categories__svg {
	fill: #ff0
}

.categories__svg {
	transition: .3s;
	fill: #fff;
	height: 30px;
	width: 30px;
	margin-bottom: 5px;
	display: block
}

@media (min-width:992px) {
	.catalog__link {
		flex-direction: row
	}

	.catalog__svg {
		margin-bottom: 0;
		margin-right: 5px
	}
}

.promo__list {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around
}

.promo__item {
	display: flex;
	flex: 1 0 100%;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	position: relative;
	max-width: 340px;
	transition: .5s
}

.promo__item:after {
	position: absolute;
	width: 95%;
	height: 85%;
	-webkit-clip-path: polygon(90% 93%, 3% 99%, 0 6%, 95% 0);
	clip-path: polygon(90% 93%, 3% 99%, 0 6%, 95% 0);
	top: 5%;
	left: -3px;
	content: "";
	z-index: -1;
	background: #8e58a3
}

.promo__item:before {
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	bottom: 10%;
	right: 10%;
	transform: rotate(-43deg);
	width: 40px;
	background: #e9417d;
	transition: .5s
}

.promo__item .button_pure {
	margin-top: -20px;
	padding: 15px 35px;
	-webkit-clip-path: polygon(95% 100%, 6% 94%, 1% 18%, 99% 17%);
	clip-path: polygon(95% 100%, 6% 94%, 1% 18%, 99% 17%)
}

.promo__item .button_pure:hover {
	transform: scale(1.1)
}

.promo__item:hover {
	transform: translateY(-10px)
}

.promo__item:hover:before {
	width: 55px;
	transform: rotate(-10deg);
	right: 0;
	background: 0 0;
	border: 1px dashed #ff0
}

.promo__item:hover .promo__dec-after {
	opacity: 1
}

.promo__item:hover .promo__dec-after:after {
	width: 50px;
	border-color: #ff0;
	top: 2%;
	left: -15%
}

.promo__item:hover .promo__dec-after:before {
	transform: scale(1);
	background: #e9417d
}

.promo__item:hover .promo__dec-before {
	opacity: 1
}

.promo__item:hover .promo__dec-before:before {
	transform: translateX(-40%) rotate(-30deg)
}

.promo__item:hover .promo__dec-before:after {
	bottom: 15px
}

.promo__dec-after {
	position: absolute;
	transition: .3s;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1
}

.promo__dec-after:after {
	content: '';
	display: block;
	width: 25px;
	transform: rotate(-40deg);
	height: 2px;
	border: 1px dashed #e9417d;
	position: absolute;
	top: 5%;
	left: -5%;
	transition: .5s
}

.promo__dec-after:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff0;
	top: 10px;
	left: 10px;
	transform: scale(1.3);
	transition: .5s
}

.promo__dec-before {
	position: absolute;
	transition: .3s;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0
}

.promo__dec-before:after {
	position: absolute;
	bottom: 0;
	left: 30%;
	content: '';
	width: 90px;
	transition: .5s;
	height: 1px;
	background: #ff0;
	transform: translateX(-50%) rotate(15deg)
}

.promo__dec-before:before {
	position: absolute;
	bottom: 0;
	left: 30%;
	content: '';
	transition: .5s;
	width: 90px;
	height: 1px;
	border: 1px dashed #e9417d;
	transform: translateX(-40%) rotate(-15deg)
}

.promo__picture {
	width: 100%;
	display: block;
	height: 50vw;
	max-height: 220px;
	position: relative;
	-webkit-clip-path: polygon(90% 93%, 3% 99%, 0 6%, 95% 0);
	clip-path: polygon(90% 93%, 3% 99%, 0 6%, 95% 0);
	z-index: 1
}

.promo__img {
	z-index: 2
}

.turnaments {
	margin-bottom: 20px
}

.turnaments .catalog {
	width: 100%;
	border: 1px dashed #ff0;
	padding: 20px 20px 0
}

.turnaments__container {
	display: flex;
	flex-wrap: wrap
}

.turnaments__item {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 100%
}

.turnaments__box {
	display: flex;
	flex: 1 0 100%;
	flex-direction: column;
	padding: 35px 0;
	align-items: center
}

.turnaments__box .button_pure {
	-webkit-clip-path: polygon(14% 19%, 88% 0, 93% 86%, 12% 92%);
	clip-path: polygon(14% 19%, 88% 0, 93% 86%, 12% 92%);
	padding: 15px 30px 20px 40px
}

.turnaments__box .button_pure:hover {
	transform: scale(1.1);
	background: #c71756
}

.turnaments__description {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 35px 0;
	margin-bottom: 20px;
	position: relative;
	justify-content: space-around;
	min-height: 220px;
	min-width: 280px;
	transition: .3s
}

.turnaments__description:after {
	transition: .3s;
	content: '';
	display: block;
	width: 130%;
	height: 110%;
	min-width: 300px;
	background: #e9417d;
	-webkit-clip-path: polygon(4% 12%, 100% 5%, 90% 99%, 10% 92%);
	clip-path: polygon(4% 12%, 100% 5%, 90% 99%, 10% 92%);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
	position: absolute
}

.turnaments__description:hover:after {
	transform: translateY(-55%) translateX(-50%);
	background: #c71756
}

.turnaments__title {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.8rem;
	z-index: 1;
	font-weight: 600;
	font-style: italic
}

.turnaments__name {
	text-transform: uppercase;
	color: #fff;
	font-size: 3rem;
	z-index: 1;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff
}

.turnaments__date {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 1;
	padding: 10px 0
}

.turnaments__date_end,
.turnaments__date_start {
	font-weight: 600;
	display: flex;
	text-align: center
}

.turnaments__icon {
	width: 140px;
	height: 140px;
	display: flex;
	background: #e9417d;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 10px;
	align-items: center
}

.turnaments__icon svg {
	fill: #fff;
	width: 90px;
	height: 90px
}

.turnaments__prize__title {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 2.4rem;
	list-style: .7
}

.turnaments__prize__curent {
	letter-spacing: 1px;
	font-weight: 700;
	font-style: italic;
	color: #e9417d;
	font-size: 3rem
}

@media (min-width:576px) {
	__description {
		padding: 35px 40px
	}
}

@media (min-width:768px) {
	.turnaments__description {
		padding: 60px 0
	}

	.turnaments__box {
		flex: 1 0 50%;
		max-width: 50%
	}
}

@media (min-width:992px) {
	.turnaments__name {
		padding: 0 20px 20px;
		font-size: 3rem
	}

	.turnaments__date {
		font-size: 2rem
	}
}

.catalog__list {
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	display: grid;
	overflow: hidden;
	width: 100%;
	margin: auto;
	grid-auto-columns: auto;
	grid-gap: 20px
}

.catalog__list_search.active {
	padding-bottom: 20px;
	position: relative
}

.catalog__list_search.active:after {
	content: '';
	display: block;
	border: 1px dashed #ff0;
	position: absolute;
	bottom: 2px;
	left: 50%;
	width: 100px;
	transform: translateX(-50%);
	z-index: 2
}

.catalog__list_search.active:before {
	z-index: 1;
	content: '';
	display: block;
	border: 1px solid #e9417d;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 120px;
	transform: translateX(-50%)
}

.catalog__item {
	display: flex;
	height: 30vw
}

.catalog__item_wrapper {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 1px solid transparent
}

.catalog__pct {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.catalog__hover {
	display: block;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .3);
	opacity: 0;
	transition: .3s
}

.catalog__hover:after,
.catalog__hover:before {
	content: '';
	width: 0;
	transition: .5s;
	height: 0;
	display: block;
	position: absolute
}

.catalog__hover:after {
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #ff0;
	border-left: 1px solid #ff0
}

.catalog__hover:before {
	top: 0;
	right: 0;
	border-top: 1px solid #ffe029;
	border-right: 1px solid #ffe029
}

.catalog__hover:hover {
	opacity: 1
}

.catalog__hover:hover:after,
.catalog__hover:hover:before {
	width: 100%;
	height: 100%
}

.catalog__hover:hover .catalog__title {
	top: 5%
}

.catalog__hover:hover .catalog__circle {
	transform: scale(1)
}

.catalog__title {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translateX(-50%);
	text-shadow: 0 0 5px rgba(0, 0, 0, .4);
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: .5s;
	font-weight: 700;
	z-index: 3
}

.catalog__title:hover {
	color: #ff0
}

.catalog__circle {
	display: block;
	width: 40px;
	height: 40px;
	background: #ff0;
	border-radius: 50%;
	position: relative;
	transition: .3s;
	z-index: 3;
	transform: scale(.9)
}

.catalog__circle:after {
	content: "";
	display: block;
	position: absolute;
	top: 27px;
	left: 27px;
	transform: translateX(-50%) translateY(-50%);
	width: 0;
	height: 0;
	margin-top: -8px;
	margin-left: -4px;
	border-left-color: #e9417d;
	border-width: 8px 0 8px 14px;
	border-style: solid
}

.catalog__circle:hover {
	transform: scale(1.05) !important
}

.catalog__none {
	color: #e9417d;
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 1px dashed #e9417d
}

.catalog-promo-1 {
	grid-row: 2;
	grid-column: 1/3
}

.catalog-promo-2 {
	grid-row: 5;
	grid-column: 1/3
}

.catalog-promo-3 {
	grid-row: 8;
	grid-column: 1/3
}

.catalog-promo-4 {
	grid-row: 15;
	grid-column: 1/3
}

.catalog-promo-5 {
	grid-row: 18;
	grid-column: 1/3
}

.catalog-promo__wrapper {
	width: 100%;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative
}

.catalog-promo__picture {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden
}

.catalog-promo__img {
	display: block;
	max-height: 90%;
	max-width: 90%
}

.catalog-promo__link {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px 25px 15px 35px;
	color: #fff;
	-webkit-clip-path: polygon(8.6% 0, 94.7% 0, 92% 100%, 13% 93%);
	clip-path: polygon(8.6% 0, 94.7% 0, 92% 100%, 13% 93%)
}

.catalog-promo__link:hover {
	transform: scale(1.05) translateX(-50%)
}

.catalog__all {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0
}

.catalog__all_bg {
	background: url(img/load-more.webp);
	background-size: contain;
	width: 78px;
	background-position: 50%;
	background-repeat: no-repeat;
	height: 45px;
	margin-bottom: 10px
}

.form {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	margin-bottom: 10px
}

.form__box {
	display: flex;
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content
}

.form input {
	padding: 8px 10px
}

.form .input {
	border: 1px solid #424242;
	color: #424242;
	background: #2c2c2c
}

.form .input:active,
.form .input:focus,
.form .input:hover {
	color: #e8ebed
}

.search__catalog__line {
	height: 40px
}

.search__catalog_btn {
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	min-width: 40px;
	min-height: 100%
}

.search__catalog_svg {
	width: 15px;
	fill: #fff;
	height: 15px
}

.search__catalog_svg:active,
.search__catalog_svg:focus,
.search__catalog_svg:hover {
	fill: #ff0
}

@media (min-width:576px) {
	.catalog__list {
		grid-template-columns: repeat(3, 1fr)
	}

	.catalog__item {
		height: 18vw
	}

	.catalog__circle {
		width: 50px;
		height: 50px
	}

	.catalog__circle:after {
		top: 33px;
		left: 32px
	}

	.catalog-promo-1 {
		grid-row: 1/2;
		grid-column: 2/4
	}

	.catalog-promo-2 {
		grid-row: 7;
		grid-column: 2/4
	}

	.catalog-promo-3 {
		grid-row: 7;
		grid-column: 2/4
	}

	.catalog-promo-4 {
		grid-row: 11;
		grid-column: 2/4
	}

	.catalog-promo-5 {
		grid-row: 14;
		grid-column: 1/3
	}

	.catalog-promo__link {
		bottom: -5px
	}
}

@media (min-width:768px) {
	.catalog__list {
		grid-template-columns: repeat(4, 1fr)
	}

	.catalog__item {
		height: 13vw
	}

	.catalog-promo-1 {
		grid-row: 1/3;
		grid-column: 3/5
	}

	.catalog-promo-2 {
		grid-row: 5/7;
		grid-column: 1/3
	}

	.catalog-promo-3 {
		grid-row: 9/11;
		grid-column: 3/5
	}

	.catalog-promo-4 {
		grid-row: 13/15;
		grid-column: 1/3
	}

	.catalog-promo-5 {
		grid-row: 15/17;
		grid-column: 3/5
	}
}

@media (min-width:992px) {
	.catalog__list {
		grid-template-columns: repeat(5, 1fr)
	}

	.catalog__item {
		height: 10vw
	}

	.catalog__circle {
		width: 35px;
		height: 35px
	}

	.catalog__circle:after {
		top: 25px;
		left: 23px;
		border-width: 6px 0 6px 10px
	}

	.catalog__circle:hover {
		transform: scale(1.1) !important
	}

	.catalog-promo-1 {
		grid-row: 1/3;
		grid-column: 3/5
	}

	.catalog-promo-2 {
		grid-row: 4/6;
		grid-column: 1/3
	}

	.catalog-promo-3 {
		grid-row: 7/9;
		grid-column: 4/6
	}

	.catalog-promo-4 {
		grid-row: 9/11;
		grid-column: 2/4
	}

	.catalog-promo-5 {
		grid-row: 11/13;
		grid-column: 5/7
	}
}

@media (min-width:1200px) {
	.catalog__list {
		grid-template-columns: repeat(6, 1fr)
	}

	.catalog__item {
		max-height: 135px
	}
}

.game__container {
	display: flex;
	flex-direction: column
}

.game__container .game__buttons {
	text-align: center
}

.game__title {
	margin-bottom: 20px
}

.footer {
	background: url(img/bg-footer.svg), linear-gradient(180deg, #2a707d, #222c2e);
	background-size: contain;
	padding: 40px 0 0;
	background-position: 50%;
	background-repeat: no-repeat
}

.footer__container {
	display: flex;
	flex-direction: column
}

.footer__wrapper {
	display: flex;
	flex-wrap: wrap
}

.footer__aside {
	display: flex;
	flex: 1 0 100%
}

.footer__main {
	display: flex;
	flex: 1 0 100%;
	flex-direction: column
}

.footer-navigation {
	display: flex;
	flex-direction: column
}

.footer-navigation ul {
	list-style: none;
	display: flex;
	flex-direction: column
}

.footer-navigation ul ul {
	padding-left: 15px
}

.footer-navigation ul li {
	font-weight: 700;
	letter-spacing: 1px;
	color: #a0a1a4;
	text-transform: uppercase
}

.footer-navigation ul li a {
	display: flex;
	color: #fff;
	text-decoration: underline;
	padding: 7px 0;
	font-size: 14px;
	text-transform: none
}

.footer-navigation ul li a:hover {
	color: #ff0
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px 0
}

.payments__title {
	color: #a0a1a4
}

.payments__item {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center
}

.payments__item-wrapper {
	width: 100px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center
}

.partners,
.payments {
	display: flex;
	padding: 10px 0;
	flex-wrap: wrap;
	justify-content: space-around
}

.partners_icon,
.payments_icon {
	background: image-set(url("img/more/sprite.png") 1x, url("img/more/sprite.png") 2x) 0 0/542px;
	background: url(img/sprite.png);
	display: block;
	height: 20px
}

.partners_icon-visa,
.payments_icon-visa {
	background-position: -494px -203px;
	width: 31px
}

.partners_icon-maestro,
.partners_icon-visa,
.payments_icon-maestro,
.payments_icon-visa {
	height: 30px
}

.partners_icon-maestro,
.payments_icon-maestro {
	background-position: -267px -174px;
	width: 50px
}

.partners_icon-qiwi,
.payments_icon-qiwi {
	background-position: -494px -273px
}

.partners_icon-qiwi,
.partners_icon-webmoney,
.payments_icon-qiwi,
.payments_icon-webmoney {
	width: 30px;
	height: 30px
}

.partners_icon-webmoney,
.payments_icon-webmoney {
	background-position: -494px -303px
}

.partners_icon-yandex,
.payments_icon-yandex {
	background-position: -517px -233px;
	width: 25px;
	height: 30px
}

.partners_icon-skrill,
.payments_icon-skrill {
	background-position: -224px -150px;
	width: 58px
}

.partners_icon-neteller,
.partners_icon-skrill,
.payments_icon-neteller,
.payments_icon-skrill {
	height: 20px
}

.partners_icon-neteller,
.payments_icon-neteller {
	background-position: -137px -342px;
	width: 122px
}

.partners_icon-quickfire,
.payments_icon-quickfire {
	background-position: -258px -242px;
	width: 75px
}

.partners_icon-netent,
.partners_icon-quickfire,
.payments_icon-netent,
.payments_icon-quickfire {
	height: 30px
}

.partners_icon-netent,
.payments_icon-netent {
	background-position: -53px -342px;
	width: 84px
}

.partners_icon-yggdrasil,
.payments_icon-yggdrasil {
	background-position: -118px -174px;
	width: 149px
}

.partners_icon-quickspin,
.partners_icon-yggdrasil,
.payments_icon-quickspin,
.payments_icon-yggdrasil {
	height: 30px
}

.partners_icon-quickspin,
.payments_icon-quickspin {
	background-position: -333px 0;
	width: 124px
}

.partners_icon-pushgaming,
.payments_icon-pushgaming {
	background-position: -100px -30px;
	width: 156px;
	height: 41px
}

.partners_icon-elk,
.payments_icon-elk {
	background-position: -126px -395px;
	width: 77px
}

.partners_icon-elk,
.partners_icon-thunderkick,
.payments_icon-elk,
.payments_icon-thunderkick {
	height: 30px
}

.partners_icon-thunderkick,
.payments_icon-thunderkick {
	background-position: -97px -312px;
	width: 95px
}

.partners_icon-playngo,
.payments_icon-playngo {
	background-position: -333px -220px;
	width: 108px
}

.partners_icon-amatic,
.partners_icon-playngo,
.payments_icon-amatic,
.payments_icon-playngo {
	height: 30px
}

.partners_icon-amatic,
.payments_icon-amatic {
	background-position: -333px -250px;
	width: 99px
}

.partners_icon-bigtimegaming,
.payments_icon-bigtimegaming {
	background-position: -333px -63px;
	width: 118px
}

.partners_icon-bigtimegaming,
.partners_icon-relax,
.payments_icon-bigtimegaming,
.payments_icon-relax {
	height: 30px
}

.partners_icon-relax,
.payments_icon-relax {
	background-position: 0 -312px;
	width: 97px
}

.partners_icon-spinomenal,
.payments_icon-spinomenal {
	background-position: -104px -127px;
	width: 196px;
	height: 23px
}

.partners_icon-belatra,
.payments_icon-belatra {
	background-position: -333px -280px
}

.partners_icon-belatra,
.partners_icon-betsoft,
.payments_icon-belatra,
.payments_icon-betsoft {
	width: 99px;
	height: 30px
}

.partners_icon-betsoft,
.payments_icon-betsoft {
	background-position: -221px -272px
}

.partners_icon-bfgames,
.payments_icon-bfgames {
	background-position: -494px -173px;
	width: 39px
}

.partners_icon-bfgames,
.partners_icon-nolimitcity,
.payments_icon-bfgames,
.payments_icon-nolimitcity {
	height: 30px
}

.partners_icon-nolimitcity,
.payments_icon-nolimitcity {
	background-position: -333px -93px;
	width: 112px
}

.partners_icon-endorphina,
.payments_icon-endorphina {
	background-position: 0 -127px;
	width: 104px;
	height: 47px
}

.partners_icon-habanero,
.payments_icon-habanero {
	background-position: -147px -212px;
	width: 146px
}

.partners_icon-booongo,
.partners_icon-habanero,
.payments_icon-booongo,
.payments_icon-habanero {
	height: 30px
}

.partners_icon-booongo,
.payments_icon-booongo {
	background-position: -97px -272px;
	width: 124px
}

.partners_icon-blueprint,
.payments_icon-blueprint {
	background-position: -130px -242px;
	width: 128px
}

.partners_icon-blueprint,
.partners_icon-evolutiongaming,
.payments_icon-blueprint,
.payments_icon-evolutiongaming {
	height: 30px
}

.partners_icon-evolutiongaming,
.payments_icon-evolutiongaming {
	background-position: -100px 0;
	width: 233px
}

.partners_icon-redtiger,
.payments_icon-redtiger {
	background-position: -135px -85px;
	width: 158px;
	height: 30px
}

.partners_icon-tomhorn,
.payments_icon-tomhorn {
	background-position: 0 -85px;
	width: 135px;
	height: 42px
}

.partners_icon-comodo_secure,
.payments_icon-comodo_secure {
	background-position: 0 0;
	width: 100px;
	height: 85px
}

.partners_icon-18,
.payments_icon-18 {
	background-position: 0 -342px;
	width: 53px;
	height: 53px
}

.partners_icon-playson,
.payments_icon-playson {
	background-position: 0 -212px;
	width: 147px;
	height: 30px
}

.partners_icon-pragmatic,
.payments_icon-pragmatic {
	background-position: -256px -30px;
	width: 77px;
	height: 35px
}

.partners_icon-1x2Gaming,
.payments_icon-1x2Gaming {
	background-position: 0 -272px;
	width: 97px;
	height: 40px
}

.partners_icon-2by2Gaming,
.payments_icon-2by2Gaming {
	background-position: -333px -123px
}

.partners_icon-2by2Gaming,
.partners_icon-ainsworth,
.payments_icon-2by2Gaming,
.payments_icon-ainsworth {
	width: 111px;
	height: 30px
}

.partners_icon-ainsworth,
.payments_icon-ainsworth {
	background-position: -333px -153px
}

.partners_icon-wazdan,
.payments_icon-wazdan {
	background-position: -280px -312px;
	width: 150px;
	height: 17px
}

.partners_icon-booming-games,
.payments_icon-booming-games {
	background-position: -192px -312px;
	width: 88px;
	height: 30px
}

.partners_icon-ganapati,
.payments_icon-ganapati {
	background-position: 0 -174px;
	width: 118px;
	height: 38px
}

.partners_icon-genesis,
.payments_icon-genesis {
	background-position: 0 -242px;
	width: 130px;
	height: 30px
}

.partners_icon-irondog,
.payments_icon-irondog {
	background-position: -104px -150px;
	width: 120px;
	height: 23px
}

.partners_icon-justforwin,
.payments_icon-justforwin {
	background-position: -333px -183px;
	width: 90px;
	height: 37px
}

.partners_icon-rabcat,
.payments_icon-rabcat {
	background-position: -333px -30px;
	width: 110px;
	height: 33px
}

.partners_icon-interac-etransfer,
.payments_icon-interac-etransfer {
	background-position: -42px -395px
}

.partners_icon-interac-etransfer,
.partners_icon-interac-online,
.payments_icon-interac-etransfer,
.payments_icon-interac-online {
	width: 42px;
	height: 56px
}

.partners_icon-interac-online,
.payments_icon-interac-online {
	background-position: -84px -395px
}

.partners_icon-express-connect,
.payments_icon-express-connect {
	background-position: 0 -395px;
	width: 42px;
	height: 56px
}

.partners__item {
	margin: 10px;
	display: flex;
	height: 30px;
	justify-content: center;
	align-items: center;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content
}

@media (min-width:768px) {
	.footer__wrapper {
		flex-wrap: nowrap
	}

	.footer__main {
		flex: 1 0 70%
	}

	.footer__aside {
		flex: 1 0 30%
	}
}

.banner {
	position: relative
}

.banner .banner__slider-pagination-wrap {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10
}

.banner .swiper-pagination-bullet {
	background: 0 0;
	position: relative;
	width: 15px;
	height: 15px;
	border: 1px solid #e8ebed
}

.banner .swiper-pagination-bullet:after {
	background: 0 0;
	content: "";
	width: 60%;
	height: 60%;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.banner .swiper-pagination-bullet:not(:last-child) {
	margin-right: 15px
}

.banner .swiper-pagination-bullet-active {
	border-color: #ff0
}

.banner .swiper-pagination-bullet-active:after {
	background: #ff0
}

#wpadminbar+#page .header {
	top: 32px
}

.site {
	padding-top: 130px
}

.btn {
	padding: 10px 20px;
	border: 1px solid #ff0;
	margin: 10px auto;
	display: inline-block;
	transition: all .2s ease
}

.btn:hover {
	background: #ff0;
	color: #e9417d
}

.toc-container {
	border: 1px solid #aaa;
	border-radius: 10px;
	display: table;
	padding: 1em 2em;
	margin: 0 0 0.9em 0.5em;
}

.toc-container li {
	margin: 0 0 .6em 0;
	list-style-type: none;
}

/*  */
.lazy-hidden,
.entry img.lazy-hidden,
img.thumbnail.lazy-hidden {
	background-color: #ffffff;
	background-image: url('img/loading.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

figure.wp-block-image img.lazy-hidden {
	min-width: 150px;
}


.lazy-hidden,
.entry img.lazy-hidden,
img.thumbnail.lazy-hidden {
	background-color: #fff
}